<a href="https://colab.research.google.com/github/MacounVladimir/UIN/blob/main/PredikceCenyOjetychMercedesu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Načtení dat

In [8]:
import pandas as pd
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/MacounVladimir/UIN/main/merc.csv", sep=',')

# Hlavička dat

In [9]:
data.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

# Rozdělení dat

In [44]:
from sklearn.model_selection import train_test_split
input_features = ["year", "mileage", "tax", "mpg", "engineSize"]
target_features = ["price"]
X_train, X_test, y_train, y_test = train_test_split(data[input_features], data[target_features], test_size = 0.2)
print(len(X_train))
print(len(X_test))

10495
2624

# Trénování

In [45]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

# Predikce

In [46]:
# na výsledné ceně se nejvíc podílí první hodnota
model.coef_

array([[ 2.08111797e+03, -1.41726377e-01, -1.18240048e+01,
        -1.58943218e+02,  1.12673212e+04]])

In [47]:
model.intercept_
y_pred = model.predict(X_test)

In [48]:
import numpy as np
result = pd.DataFrame(zip(y_test, np.around(y_pred, decimals=2)), columns=["skutecna", "predikce"])
result.head()

  skutecna    predikce
0    price  [34167.58]

# Práce s diskem

In [49]:
import pickle

#Uložení na disk
with open('/tmp/model.pkl', 'wb') as f:
    pickle.dump(model, f)

#Znovunačtení
with open('/tmp/model.pkl', 'rb') as f:
  model = pickle.load(f)

# Vyhodnocení kvality modelu

In [50]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mean_absolute_error(y_test, y_pred)

3945.892080092871

In [51]:
mean_squared_error(y_test, y_pred)

38498142.94902548